Extend "Any" to register routes that match HTTP Methods for Distributed Authoring(WEBDAV)

## Description
Hey 👋 , Based on [this comment](https://github.com/gin-gonic/gin/pull/179#issuecomment-103689554), I understand why Router Groups do not include additional helper functions for "Non-standard" HTTP methods! However, I was wondering if the `routerGroup.Any()` shortcut could be extended to cater for more HTTP methods. I think it would be appropriate as the first thing that comes to mind on seeing the `routerGroup.Any()` helper is that it registers ANY route that matches all the HTTP methods
<!-- Description of a problem -->




@Ghvstcode 
For now, `routerGroup.Any()` register all **standard** HTTP methods (defined in *RFC 7231 section 4.3*): 
- GET
- POST
- PUT
- PATCH
- HEAD
- OPTIONS
- DELETE
- CONNECT
- TRACE

If user want to register more HTTP methods, such as non-standard or custom methods, they could use `router.Handle()` API.
```go
router.Handle("LINK", "/path", handler)
```
> https://www.iana.org/assignments/http-methods/http-methods.xhtml